################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/yzk/HuaGongWeb/uploadfile/201904180011076199000.png
/yzk/HuaGongWeb/uploadfile/201904180529469084608.png
/yzk/HuaGongWeb/uploadfile/201904180545389059119.png
/yzk/HuaGongWeb/uploadfile/201904180535126420917.png
