    <div id="copyright"> Copyright ©2004-2011&nbsp;<a href="$Model.Settings.SiteURL" title="$Model.Settings.SiteName">$Model.Settings.SiteName $Model.Settings.SiteURL</a> All Rights Reserved.<br />
    <span>地址: </span>$Model.Settings.Address　<span>邮编: </span>$Model.Settings.PostCode　<span>联系人: </span>$Model.Settings.ContactPerson<br />
    <span>电话: </span>$Model.Settings.TelPhone　<span>传真: </span>$Model.Settings.Fax　<span>手机: </span>$Model.Settings.Mobile<br />
    <span>邮箱: </span>$Model.Settings.Email
  </div>
</div>
</body>
</html>