<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>网站登录</title>
</head>
<body>
    <form action="Login.ashx" method="post">
        <input type="hidden" name="IsPostBack" value="true" />
        <table>
            <tbody>

                <tr><td>用户名：</td><td><input type="text" name="UserName" /></td></tr>
                <tr><td>密码：</td><td><input type="password" name="Password" /></td></tr>
                <tr><td></td><td><input type="submit" name="Login" value="登录" /></td></tr>
            </tbody>
        </table>
    </form>
</body>
</html>
